body {
  font-family: sans-serif;
}

h1 {
  margin-top: 0px;
  font-size: 1.25rem;
}

ul {
  margin: 0px;
}

.form-control {
  display: flex;
}

/* Key configurator */
.key-configurator-container {
  margin: auto;
  width: min-content;
}
.key-configurator {
  --aspect-ratio: 1;
  --ct-width: calc(100vw - 64px);
  --ct-height: calc(100vh - 128px);
  width: var(--ct-width);
  height: var(--ct-height);
  border: 2px solid red;
  position: relative;
}

.key {
  transform: translate(var(--x), var(--y));
  width: var(--width);
  height: var(--height);
  background-color: black;
  position: absolute;

  --x: 0px;
  --y: 0px;
  --width: 100px;
  --height: 100px;

  touch-action: none;
  user-select: none;
  box-sizing: border-box;

  overflow: hidden;
  border: 20px solid #555;

  color: white;
  padding: 4px;
  white-space: nowrap;
  font-family: monospace;
}

.key.selected {
  border-color: #00AA00;
}

/* Touch preview */
:root {
  --deadzone: 100px;
  --padding: 20px;
}

.touch-zone {
  display: inline-block;
  margin: 20px;
  width: calc(var(--deadzone) * 2);
  height: calc(var(--deadzone) * 2);
  background: #BFBFBF;
  border: var(--padding) solid #5FDF5F;
}

.key-configurator > .touch-zone {
  pointer-events: none;
  position: absolute;
  bottom: 0px;
}
.key-configurator > .touch-zone.right {
  right: 0px;
}

.touch-bind-select:not(.none) {
  position: absolute;
}

.touch-bind-select.top {
  transform:
    translateX(var(--deadzone))
    translate(-50%, -100%);
}

.touch-bind-select.left {
  transform:
    translateX(calc(-50% - var(--padding)/2))
    translateY(calc(var(--deadzone) - 50%))
    rotate(-90deg)
    ;
}

.touch-bind-select.right {
  transform:
    translateX(calc(-50% + var(--padding)/2 + var(--deadzone)*2))
    translateY(calc(var(--deadzone) - 50%))
    rotate(-90deg)
    ;
}

.touch-bind-select.bottom {
  transform:
    translateX(var(--deadzone))
    translateY(calc(var(--deadzone)*2))
    translate(-50%, 0%);
}
